################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MUL/v15/Browse.VC.opendb
/Core/x64
/Configuration/bin/
/Configuration/obj/
/Configuration/CodeGraphData/
/test/unused
/x64
/.vs
/AIM
/Bin
/Temp
/Debug
/AIMflowchart.mmap
/AIMStructure.mmap
/Temp
/MulSecond.EAP
/SourceData/unused
/SourceData/Excitation.txt
/SourceData/RCSVertical.dat
/SourceData/test.out
/SourceData/test.bf
/SourceData/test.hxj
/SourceData/test.bf
/SourceData/test.hxj
/SourceData/test.out
