################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MUL/v15/Browse.VC.opendb
/.vs

/AIMflowchart.mmap
/AIMStructure.mmap

/Core/x64
/Core/Runtime.log
/Core/My Advisor Results - Core
/Configuration/My Advisor Results - Configuration
/Core/My Amplifier Results - Core
/Core/Core.vcxproj.filters
/Core/Core.vcxproj.uers

/Configuration/bin/
/Configuration/obj/
/Configuration/CodeGraphData/
/x64

/Bin
/Debug

/include/Eigen
/include/unsupported

/SourceData/*

/tinyxml2/x64
/tinyxml2/My Advisor Results - tinyxml2/e000
/tinyxml2/My Advisor Results - tinyxml2
